/* Body as flexbox */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

/* Container Flex container */
#grid-container{
    display: flex;
    flex-wrap: wrap;
    width: 1600px; /* 16 items * 100px each */
    height: 1600px; /* 16 items * 100px each */
    margin-top: 50px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* justify-content: center;
    align-items: center; */
}

/* Grid Item */
.grid-item{
    border: 1px solid rgb(209, 209, 198);
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: rgb(242, 255, 255);
}